body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-variation-settings:
          "wdth" 100;
}

.container {
    width: 75vw;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sidebar {
    width: 30%;
    height: 100%;
    background-color: rgb(191, 66, 8);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

#sidebar h2{
    margin-top: 40px;
    margin-left: 30px;
    text-transform: uppercase;
}

.main-window {
    width: 66%;
    height: 100%;
    background-color: rgb(248, 213, 161);
    border: 1px solid rgb(191, 66, 8);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-window img{
    width: 120px;
    height: 120px;
}

.main-window .form-actions{
    margin-bottom: 40px;
}



/* CSS */
.button-1 {
  background-color: #ea9e4c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
  margin-left: 30px;
}

.button-1:hover,
.button-1:focus {
  background-color: #f0d882;
  color: black;
  border: 1px solid rgb(191, 66, 8);
}

.input {
    max-width: 150px;
    height: 32px;
    margin-bottom: .6rem;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 0.7rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .label {
    display: block;
    margin-bottom: .6rem;
    font-size: .9rem;
    font-weight: bold;
    color: #05060f99;
    transition: color .3s cubic-bezier(.25,.01,.25,1) 0s;
  }
  
  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover .label, .input:focus {
    color: #05060fc2;
  }